<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org" xmlns:c="http://java.sun.com/jsp/jstl/core">
<head>
    <title>Coaches</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<form action="#" th:action="@{/coaches}" th:object="${student}" method="post">
    <p>Name: <input type="text" th:field="*{name}" required/></p>
    <!--</div>
    <tr th:each="course,idx : ${student.getClassSelection()}">
        <div class = "dynamic", th:object="${student.getClassSelection().get(idx.index)}">
            <p th:text="${student.getClassSelection().get(idx.index).getClassName()}" />
            <p th:text="'Professor: ' + ${student.getClassSelection().get(idx.index).getProfessor()}" />
            <p th:text="'Lab Time: ' + ${student.getClassSelection().get(idx.index).getLabStart()} + ' - ' + ${student.getClassSelection().get(idx.index).getLabEnd()} + ' ' + ${student.getClassSelection().get(idx.index).getLabDay()}"></p>
            <p> Grade: <input type="text" th:value="*{grade}" required/></p>
            <p> Preference: <input type="number" th:value="*{preference}" min="0" max="10" required/></p>
        </div>
    </tr>
    <div class = "comments", th:object="${student}">
        <p>Extra Comments: <input type="text" th:field="*{comments}"/></p>
    </div>-->
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
</body>
</html>