<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Course Added</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Result</h1>
<p>Added Course: </p>
<p th:text="'Name: ' + ${course.name}"/>
<p th:text="'Section: ' + ${course.section}"/>
<p th:text="'Professor: ' + ${course.professor}"/>
<p th:text="'Lab Start: ' + ${course.labStart}"/>
<p th:text="'Lab End: ' + ${course.labEnd}"/>
<p th:text="'Lab Day: ' + ${course.labDay}"/>
<!--
<p th:text="'Course Name: ' + ${course.className}" />
<p th:text="'Professor: ' + ${course.professor}" />
<p th:text="'Class Time: ' + ${course.classTime[0]} + ' - ' + ${course.classTime[1]} + ' ' + ${course.classTime[2]} + ', ' + ${course.classTime[3]}" />
<p th:text="'Lab Time: ' + ${course.labTime[0]} + ' - ' + ${course.labTime[1]} + ' ' + ${course.labTime[2]}" />
-->
<a href="/course">Submit another course</a>
</body>
</html>
