<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Course Adding</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Form</h1>
<form action="#" th:action="@{/course}" th:object="${course}" method="post">
    <p>Course Name: <input type="text" th:field="*{name}" required/></p>
    <p>Section: <input type="number" th:field="*{section}" required/></p>
    <p>Professor: <input type="text" th:field="*{professor}" required</p>
    <p>Lab Start and End Time: <input type="time" th:field="*{labStart}" min="09:00" max="19:00" required/> <input type="time" th:field="*{labEnd}" min="09:00" max="21:00" required/></p>
    <p>Lab Day:<br>
        <input type="radio" id="M" th:field="*{labDay}" value="Monday"</input>
        <label for="M">Monday</label><br>
        <input type="radio" id="T" th:field="*{labDay}" value="Tuesday"</input>
        <label for="M">Tuesday</label><br>
        <input type="radio" id="W" th:field="*{labDay}" value="Wednesday"</input>
        <label for="M">Wednesday</label><br>
        <input type="radio" id="TH" th:field="*{labDay}" value="Thursday"</input>
        <label for="TH">Thursday</label><br>
        <input type="radio" id="F" th:field="*{labDay}" value="Friday"</input>
        <label for="F">Friday</label><br>
    </p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
<a href="/remove">Remove a course</a>
<p>
    <a href="/addedcourses">View added courses</a>
</p>
</body>
</html>