<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Course Removal</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Result</h1>
    <!--<span th:if="${courseClear}">
        <p>All Courses were removed</p>
    </span>
    <span th:if="${studentClear}">
        <p>All Students were removed</p>
    </span>
    <span th:if="${facultyClear}">
        <p>All Faculty were removed</p>
    </span>-->
    <p>All Data Cleared</p>
</body>
</html>
