<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org" xmlns:c="http://java.sun.com/jsp/jstl/core">
<head>
    <title>Faculty Coach Selection</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<form action="#" th:action="@{/facultysubmitted}" method="post" th:object="${faculty}">
    <span th:each="student,idx : ${faculty.studentChoices}">
        <p th:text="'Name: ' + ${student.name}"/>
        <p th:text="'ID: ' + ${student.vassarID}"/>
        <tr th:each="course : ${student.classSelection}">
            <p th:text="${course.className}" />
            <p th:text="'Grade: ' + ${course.grade}"/>
        </tr>
        <p> Preference: <input type="number" th:field="*{studentChoices[__${idx.index}__].facultyPreference}"/> </p>
    </span>
    <div class = "comments">
        <p>Extra Comments: <input type="text" th:field="*{comments}"/></p>
    </div>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
</body>
</html>