<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Course Removal</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Result</h1>
<p th:text="${remove.className} + ' was removed'" />
<!--
<p th:text="'Course Name: ' + ${course.className}" />
<p th:text="'Professor: ' + ${course.professor}" />
<p th:text="'Class Time: ' + ${course.classTime[0]} + ' - ' + ${course.classTime[1]} + ' ' + ${course.classTime[2]} + ', ' + ${course.classTime[3]}" />
<p th:text="'Lab Time: ' + ${course.labTime[0]} + ' - ' + ${course.labTime[1]} + ' ' + ${course.labTime[2]}" />
-->
<a href="/remove">Remove another course</a>
<a href="/course">Submit a course</a>
</body>
</html>
