<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<style>
    table, th, td {
  border:1px solid black;
}
</style>
<head>
    done
</head>
<table style="width:100%">
<tr>
    <th>&nbsp</th>
    <th th:each="course: ${coursesList.courses}" th:text="${course.className} + ' Section: ' + ${course.professor}"></th>
</tr>
<tr th:each="student, idx: ${studentList.studentList}">
    <td>
        <p th:text="${student.name}"/>
        <p th:text="${student.vassarID}"/>
    </td>
    <td th:each="coursePref, indx: ${student.classSelection}">
        <p th:text="'Available: ' + ${coursePref.available}"/>
        <p th:text="'Grade: ' + ${coursePref.grade}"/>
        <p th:text="'Student Preference: ' + ${coursePref.classPreference}"/>
        <p th:text="'Faculty Preference: ' + ${coursePref.facultyPreference}"/>
    </td>
</tr>
</table>

</html>
